---
---

@import 'bourbon/bourbon'

@import url(https://fonts.googleapis.com/css?family=Varela+Round)

.cf
  @include clearfix

$rs: 16px

$font-serif: Linux Libertine
$font-sans: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif
$font-merriweather: Merriweather
$font-varela: 'Varela Round', sans-serif

@mixin respond-to($breakpoint)
  @media only screen and (max-width: $breakpoint + px)
    @content

body
  font-family: $font-varela
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-feature-settings: "liga=1, dlig=1"
  -ms-font-feature-settings: "liga", "dlig"
  -webkit-font-feature-settings: "liga", "dlig"
  -o-font-feature-settings: "liga", "dlig"
  font-feature-settings: "liga", "dlig"

.fullpage
  display: block

.head
  width: 50%
  margin: 0 auto
  display: block



.center
  // border: 1px solid pink
  width: 70%
  margin: 0 auto
  position: relative

  h1
    // border: 1px solid black
    font-size: 80px
    margin: 0 auto
    text-align: center
    color: white
    @media(max-width: 700px)
      font-size: 40px
  h2
    font-size: 30px
    margin: 0 auto
    text-align: center
    color: white
  img
    // border: 1px solid red
    width: 600px
    margin: 0 auto
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: relative
    display: block
  p
    // border: 1px solid blue
    margin: 0 auto
    font-size: 1.5em
    text-align: center

.column
  width: 70%
  margin: 0 auto

  h1
    color: white



.twitter-share-button
  position: absolute
  z-index: 99
  right: 149px
  top: 9px
