---
---

@import 'bourbon/bourbon'

@import url(https://fonts.googleapis.com/css?family=Varela+Round)

.cf
  @include clearfix

$rs: 16px

$font-serif: Linux Libertine
$font-sans: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif
$font-merriweather: Merriweather
$font-lyngo: 'Varela Round', sans-serif

@mixin respond-to($breakpoint)
  @media only screen and (max-width: $breakpoint + px)
    @content

body
  font-family: $font-lyngo
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-feature-settings: "liga=1, dlig=1"
  -ms-font-feature-settings: "liga", "dlig"
  -webkit-font-feature-settings: "liga", "dlig"
  -o-font-feature-settings: "liga", "dlig"
  font-feature-settings: "liga", "dlig"

.homepage
  font-size: 2em
  margin: 0 auto
  padding-bottom: 0

.fullpage
  display: flex

.center
  // border: 1px solid pink
  width: 80%
  margin: 0 auto
  text-align: center
  @media screen and (max-width: 700px)
    font-size: 20px

  h1
    // border: 1px solid black
    color: white
    margin-bottom: 0 !important

  h2
    font-size: 0.8em
    color: #967800

  p
    color: #967800
    font-size: 0.8em
  img
    width: 30%

.column
  width: 90%
  margin: 0 auto
  @media screen and (max-width: 700px)
    font-size: 0.8em

  h1
    color: white
    text-align: center
    font-size: 1em

  h2
    color: #005C85
    text-align: center
    padding-bottom: 25px
    font-weight: 400
    font-size: 0.8em

  p
    color: #333
    font-size: 0.5em
    padding: 10px

  a
    color: white
    text-decoration: underline

.snapchat
  width: 40%
  font-size: 2em
  margin: 0 auto
  text-align: center
  @media screen and (max-width: 700px)
    width: 60%
    font-size: 1.25em

  h1
    color: #333
    font-weight: 400
    font-size: 0.5em

  h2
    font-size: 0.6em

  a
    text-decoration: none
    color: #020202
    margin: 0
  img
    width: 30%


.cta
  text-align: center
  font-size: 1em
  @media screen and (max-width: 700px)
    font-size: 0.5em
  h1
    color: white
  p
    color: #7D3027
    font-size: 1em

// Mailchimp
#mailchimp
  border: 1px solid black
  margin: 0 auto
  width: 40%
  cursor: pointer
  font-size: 1em
  // align-items: stretch
  display: flex
  @media screen and (max-width: 700px)
    width: 70%
    justify-content: center

#mailchimp input
  border: none
  font-family: $font-lyngo
  font-size: 0.8em
  // padding: 4%
  border-radius: 4px
  width: 50%
  // justify-content: center
  flex-direction: row

// field
#mailchimp input.email
  float: left
  flex-direction: row

// button
#mailchimp input[type="submit"]
  box-shadow: 0 2px 0 #009948
  background: #59CD90
  color: white
  cursor: pointer
  flex-direction: row
  width: 40%
  &:hover
    background: #3EBB7A
