---
---

@import 'syntax-highlighting'

@import 'bourbon/bourbon'

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300)

.cf
  @include clearfix

$rs: 16px

$font-serif: Linux Libertine
$font-sans: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif
$font-merriweather: Merriweather
$font-quick: 'Quicksand', 'Varela Round', sans-serif


@mixin respond-to($breakpoint)
  @media only screen and (max-width: $breakpoint + px)
    @content

// Only needed for syntax highlighting
%vertical-rhythm
  margin-bottom: $rs

// body
body
  width: 100%
  font-family: $font-quick
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-feature-settings: "liga=1, dlig=1"
  -ms-font-feature-settings: "liga", "dlig"
  -webkit-font-feature-settings: "liga", "dlig"
  -o-font-feature-settings: "liga", "dlig"
  font-feature-settings: "liga", "dlig"

.landing
  background-image: url("/assets/images/bg pattern nofill.png")
  background-size: contain
  font-size: 14px
  margin: 0 auto
  h1
    font-size: 3em
    color: #368BFF
  h2
    font-size: 2em
    color: #224C83
  @media screen and (max-width: 950px)
    font-size: 12px
    .feature-container
      width: 50%
      flex-direction: column
      align-items: center
    .container
      flex-direction: column-reverse
      align-items: center
      div
        flex-direction: column
        text-align: center
      h2
        font-size: 2em
        padding: 5%
        margin: 0 auto !important
      h1
        font-size: 3em
        text-align: center
      button
        margin: 0 auto
        a
          margin: 0 auto
  @media screen and (max-width: 700px)
    font-size: 10px


  .hero
    margin: 0 auto
    padding-top: 5%
    padding-bottom: 10%

    .container
      display: flex
      width: 70%
      margin: 0 auto
      button
        font-family: $font-quick
        font-weight: 700
        padding: 4%
        background-color: #368BFF
        border-style: none
        border-radius: 3px
        box-shadow: 0px 3px 0px #FFEC00
        a
          color: white
          padding: 10px
          text-decoration: none
          font-size: 2em
          &:hover
            color: #FFEC00

  .intro
    background-color: white
    padding-top: 5%
    padding-bottom: 5%

    .container
      display: flex
      width: 80%
      margin: 0 auto
      div
        text-align: center
        padding: 5%
      p
        padding-top: 5%
        font-size: 1.5em
        margin: 0 auto
        color: #224C83
        width: 70%


  .how-it-works
    background-color: #EAF0F4
    padding-top: 5%
    padding-bottom: 5%
    margin: 0 auto

    .container
      padding: 2%
      display: flex
      flex-direction: column
      justify-content: center
      width: 80%
      margin: 0 auto
      div
        display: flex
        margin: 0 auto
        padding: 5%
        border-bottom: 1px solid #D9DDE0
      h1
        margin: 0 auto
        padding-bottom: 5%
        font-size: 3em
      h2
        width: 50%
        margin: 0 auto
        text-align: center
        font-size: 2em
    .final-how
      width: 40%
      margin: 0 auto
      text-align: center

  .testimonial
    background-color: white
    padding: 10%
    h3
      font-size: 3em
      font-weight: 500
      text-align: center
      color: #368BFF


  .skills
    background-color: #EAF0F4
    padding: 10%

    .feature-container
      display: flex
      padding: 2%
      margin: 0 auto
      div
        margin: auto
        text-align: center
      img
        padding-top: 5%
        align-items: baseline

  .final-cta
    background-image: url("/assets/images/bg pattern nofill.png")
    background-size: contain
    background-color: white
    margin: 0 auto
    padding-top: 10%
    padding-bottom: 10%
    .container
      display: flex
      width: 70%
      margin: 0 auto
    img
      float: right
      align-content: center
    button
      font-family: $font-quick
      font-weight: 700
      padding: 4%
      background-color: #368BFF
      border-style: none
      border-radius: 3px
      box-shadow: 0px 3px 0px #FFEC00
      a
        color: white
        padding: 10px
        text-decoration: none
        font-size: 2em
        &:hover
          color: #FFEC00





// ANIMATION

@keyframes intro1-stars1
  0%,100%
    transform: translate(149px,54px)
  50%
    transform: translate(149px,30px)

@keyframes intro1-cloud1
  0%,100%
    transform: translate(0px,55px)
  50%
    transform: translate(20px, 55px)

@keyframes intro1-cloud2
  0%,100%
    transform: translate(332px,129px)
  50%
    transform: translate(320px,129px)

#intro1-stars1
  animation-name: intro1-stars1
  animation-duration: 5s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#intro1-cloud1
  animation-name: intro1-cloud1
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#intro1-cloud2
  animation-name: intro1-cloud2
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

@keyframes intro2-heart
  0%,100%
    transform: translate(327px,155px) scale(1)
  15%
    transform: translate(327px,155px) scale(1.1)

#intro2-heart
  animation-name: intro2-heart
  animation-duration: 2s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

@keyframes how1-eye
  0%,100%
    transform: translate(487px,166px)
  15%
    transform: translate(477px,166px)

@keyframes how1-mag
  0%,100%
    transform: translate(427px,104px)
  15%
    transform: translate(427px,104px)

#how1-eye
  animation-name: how1-eye
  animation-duration: 2s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#how1-mag
  animation-name: how1-mag
  animation-duration: 2s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

@keyframes how2-arrow
  0%,100%
    transform: translate(309px,5px)
  15%
    transform: translate(309px,20px)

#how2-arrow
  animation-name: how2-arrow
  animation-duration: 1s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

@keyframes how3-camera
  0%,100%
    transform: translate(315px,175px)
  40%
    transform: translate(315px,160px)

@keyframes how3-heart
  0%,100%
    transform: translate(494px,73px) scale(1)
  15%
    transform: translate(494px,73px) scale(1.5)

@keyframes how3-spin
  0%,100%
    transform: translate(726px,211px) rotate(0deg)
  40%
    transform: translate(726px,211px) rotate(120deg)

@keyframes how3-vid
  0%,100%
    transform: translate(787px,237px)
  40%
    transform: translate(787px,247px)

@keyframes how3-speech
  0%,100%
    transform: translate(680px,85px)
  50%
    transform: translate(685px,85px)

@keyframes how3-star
  0%,100%
    transform: translate(391px,57px)
  50%
    transform: translate(391px,50px)

@keyframes how3-wave
  0%,100%
    transform: translate(224px,283px)
  50%
    transform: translate(244px,283px)

#how3-camera
  animation-name: how3-camera
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#how3-heart
  animation-name: how3-heart
  animation-duration: 2s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#how3-spin
  animation-name: how3-spin
  animation-duration: 2s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#how3-vid
  animation-name: how3-vid
  animation-duration: 2s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#how3-speech
  animation-name: how3-speech
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#how3-star
  animation-name: how3-star
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#how3-wave
  animation-name: how3-wave
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

@keyframes feature1-a
  0%,100%
    transform: translate(57px,385px)
  50%
    transform: translate(57px,375px)

@keyframes feature1-c
  0%,100%
    transform: translate(357px,353px)
  50%
    transform: translate(357px,373px)

@keyframes feature1-stars
  0%,100%
    transform: translate(67px,68px)
  50%
    transform: translate(77px,78px)

#feature1-a
  animation-name: feature1-a
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#feature1-c
  animation-name: feature1-c
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#feature1-stars
  animation-name: feature1-stars
  animation-duration: 2s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

@keyframes feature2-stars
  0%,100%
    transform: translate(176px,59px) scale(1)
  50%
    transform: translate(176px,59px) scale(1.1)

@keyframes feature2-mouth
  0%,100%
    transform: translate(110px,407px) scaleY(1)
  50%
    transform: translate(110px,407px) scaleY(1.1)

#feature2-stars
  animation-name: feature2-stars
  animation-duration: 4s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite

#feature2-mouth
  animation-name: feature2-mouth
  animation-duration: 1s
  animation-timing-function: ease-in-out
  animation-iteration-count: infinite


@keyframes feature3-brain
  0%,100%
    transform: translate(196px,84px)
  50%
    transform: translate(196px,94px)

@keyframes feature3-eyebrows
  0%,100%
    transform: translate(184px,376px)
  50%
    transform: translate(184px,372px)

#feature3-brain
  animation-name: feature3-brain
  animation-duration: 3.5s
  animation-timing-function: ease-out
  animation-iteration-count: infinite

#feature3-eyebrows
  animation-name: feature3-eyebrows
  animation-duration: 1s
  animation-timing-function: ease-out
  animation-iteration-count: infinite

@keyframes feature4-cloud1
  0%,100%
    transform: translate(0px,92px)
  50%
    transform: translate(12px,92px)

@keyframes feature4-cloud2
  0%,100%
    transform: translate(156px,210px)
  50%
    transform: translate(136px,210px)

@keyframes feature4-stars1
  0%,100%
    transform: translate(122px,252px)
  50%
    transform: translate(122px,262px)

@keyframes feature4-stars2
  0%,100%
    transform: translate(122px,237px)
  50%
    transform: translate(122px,257px)

#feature4-cloud1
  animation-name: feature4-cloud1
  animation-duration: 3s
  animation-timing-function: ease-out
  animation-iteration-count: infinite

#feature4-cloud2
  animation-name: feature4-cloud2
  animation-duration: 3s
  animation-timing-function: ease-out
  animation-iteration-count: infinite

#feature4-stars1
  animation-name: feature4-stars1
  animation-duration: 1s
  animation-timing-function: ease-out
  animation-iteration-count: infinite

#feature4-stars2
  animation-name: feature4-stars2
  animation-duration: 1s
  animation-timing-function: ease-out
  animation-iteration-count: infinite
