---
layout: default
---

<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include header.html %}

  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title>fullPage.js One Page Scroll Sites</title>
  	<meta name="author" content="Alvaro Trigo Lopez" />
  	<meta name="description" content="fullPage plugin by Alvaro Trigo. Create fullscreen pages fast and simple. One page scroll like iPhone website." />
  	<meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple" />
  	<meta name="Resource-type" content="Document" />

  	<link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/css/fullPage.css" />

  	<!--[if IE]>
  		<script type="text/javascript">
  			 var console = { log: function() {} };
  		</script>
  	<![endif]-->

  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

  	<!-- <script type="text/javascript" src="/assets/js/jquery.fullPage.js"></script> -->

  	<script type="text/javascript">
  		$(document).ready(function() {
  			$('#fullpage').fullpage({
  				sectionsColor: ['#FBD335', '#3FA7D6', '#FFFE00', '#EE6352', '#EAF0F4'],
  				anchors: ['Welcome', 'blog', 'snapchat', 'cta', 'footer'],
  				menu: '#menu',
  				// scrollingSpeed: 1000,
          slidesNavigation: true,
          navigation: true,
          // showActiveTooltip: true,
          // navigationTooltips: ['firstSlide', 'secondSlide', 'thiedSlide', 'fourthSlide']
          if(isPhoneDevice){
            //mobile
        }
            else{
                //desktop
                $.fn.fullpage();
            }
  			});
  		});
  	</script>

  </head>

  <body>



  <!-- <ul id="menu">
  	<li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
  	<li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
  	<li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
  	<li data-menuanchor="4thpage"><a href="#4thpage">Fourth slide</a></li>
  </ul> -->

  <div id="fullpage">

  	<div class="section active" id="section0">
      <div class="head"></div>
        <div class="center">
          <h1>Welcome to  LYNGO</h1>
    		  <h2>Learn a new language while watching your favorite shows. It's that simple.</h2>
    		  <img class="center" src="/assets/images/lyngo-interface.png" alt="lyngo-browser"/>
          <p>Get notified upon release!</p>
          {% include subscribe.html %}
        </div>
  	</div>

      	<div class="section" id="section1">
  		    <div class="column">
    			<h1>LATEST BLOG POSTS</h1>
          <h2 class="column">We write articles about language learning. View more on our <a href="{{ site.baseurl }}/blog">blog</a>.</h2>

        <!-- Cards Start -->

          <div class="cards">
             {% for post in site.posts limit:3 %}

             <div class="card">

               <div class="card-image">
                 <div>
                   <a href="{{post.url}}"><img src="{% if post.image %}{{ post.image }}{% endif %}"></a>
                 </div>
               </div>

               <div class="card-header">
                 <a href="{{post.url}}" style="text-decoration: none; color: #333332">{{post.title}}</a>
               </div>

               <div class="card-copy">
                 <p>{{ post.excerpt | strip_html | truncatewords: 16 }}</p>
               </div>

               <div class="card-meta">
                <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
              </div>

             </div>

           {% endfor %}
        </div>

        <!-- Cards End -->

  		</div>
  	</div>

    <div class="section" id="section2">
      <div class="snapchat">
        <h1>Follow us on snapchat for language learning hacks</h1>
        <a href="https://www.snapchat.com/add/lyngoapp"><img src="/assets/images/snapchat-logo@2x.png" onmouseover="this.src='/assets/images/snpachat-logo-add@2x.png'" onmouseout="this.src='/assets/images/snapchat-logo@2x.png'"/></a>
        <h2><a href="https://www.snapchat.com/add/lyngoapp">@lyngoapp</a></h2>
    </div>
  </div>

  	<div class="section" id="section3">
  		<div class="cta">
  			<h1>COMING SOON</h1>
        <p class="cta">Make sure you're notified when we launch!</p>
        {% include subscribe.html %}
  		</div>
  	</div>

    <div class="section fp-auto-height">
      <div>
      {% include footer.html %}
      </div>
    </div>

  </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
