---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title>fullPage.js One Page Scroll Sites</title>
  	<meta name="author" content="Alvaro Trigo Lopez" />
  	<meta name="description" content="fullPage plugin by Alvaro Trigo. Create fullscreen pages fast and simple. One page scroll like iPhone website." />
  	<meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple" />
  	<meta name="Resource-type" content="Document" />

  	<link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="/css/fullPage.css" />

  	<!--[if IE]>
  		<script type="text/javascript">
  			 var console = { log: function() {} };
  		</script>
  	<![endif]-->

  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

  	<!-- <script type="text/javascript" src="/assets/js/jquery.fullPage.js"></script> -->

  	<script type="text/javascript">
  		$(document).ready(function() {
  			$('#fullpage').fullpage({
  				sectionsColor: ['#FBD335', '#3FA7D6', '#EE6352'],
  				anchors: ['Welcome', 'service-info', 'actual-info', 'contact-info'],
  				menu: '#menu',
  				scrollingSpeed: 1000,
          slidesNavigation: true,
          navigation: true,
          // showActiveTooltip: true,
          // navigationTooltips: ['firstSlide', 'secondSlide', 'thiedSlide', 'fourthSlide']
  			});
  		});
  	</script>

  </head>

  <body>

    {% include header.html %}

  <!-- <ul id="menu">
  	<li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
  	<li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
  	<li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
  	<li data-menuanchor="4thpage"><a href="#4thpage">Fourth slide</a></li>
  </ul> -->

  <div id="fullpage">

  	<div class="section active" id="section0">
      <div class="head"></div>
        <div class="center">
          <h1>WELCOME TO LYNGO</h1>
    		  <p>Learn a new language while watching your favorite shows. It's that simple.</p>
    		  <img class="center" src="/assets/images/lyngo-browser.png" alt="lyngo-browser"/>
          <h2>Get Notified Upon Release</h2>
          {% include subscribe.html %}
        </div>
  	</div>

  	<div class="section" id="section2">
  		<div class="column">
  			<h1>Example</h1>
  			<p>HTML markup example to define 4 sections.</p>
  		</div>
  	</div>

  	<div class="section" id="section3">
  		<div class="column">
  			<h1>Coming Soon</h1>
  			<p>
  				Designed to fit to different screen sizes as well as tablet and mobile devices.
  				<br /><br /><br /><br /><br /><br />
  			</p>
  		</div>
  	</div>

  </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
