

  <link rel="stylesheet" href="css/nav.css">

    <header class="nav-header">

    <a href="/" id="logo"><img src="/assets/images/lyngo-logo-light.svg"></img></a>

    <nav>

    <a href="#" id="menu-icon"></a>

    <ul>

    <li><a href="#" class="current">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="https://www.snapchat.com/add/lyngoapp">Snapchat</a></li>
    <li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
    <li><a href="#" class="nav-cta">Get The App - Free</a></li>

    </ul>

    </nav>

  </header>
