<!-- header start -->

<!-- <div class="nav"> -->
  <div class="nav-down">

    <ul>
      <!-- <a href="{{ site.url }}" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo }})"></span></a> -->
      <a href="/" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo }})"></span></a>
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <!-- <div class="search">
        <li><a href="#"><img src="/assets/images/large-search-icon.png"></a></li>
      </div> -->
    </ul>

  </div>
<!-- </div> -->

<!-- header end -->
