<!-- Begin MailChimp Signup Form -->
<div id="mailchimp">
  <form action="//lyngoapp.us13.list-manage.com/subscribe/post?u=7fd17f4e90953d1a8546ad6ee&amp;id=99742e4621" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <!-- <div id="mc_embed_signup_scroll"> -->

  	<input type="email" width="90" value="Enter your email..." name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">

      <div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
      </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7fd17f4e90953d1a8546ad6ee_99742e4621" tabindex="-1" value=""></div>

      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</div>

<!--End mc_embed_signup-->
