---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            Article Image
          </div>
          <div class="post-image-image2" style="background-image: url({% if page.image2 %}{{ page.image2 }}{% endif %})">
            Article Image
          </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>

            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
              on
              <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}

        <!-- TITLE/CONTENT -->

        <section class="post-content">

          <div class="post-top" style="title-top">{{ page.title }}</h1></div>

          <section class="top-meta">

          <!-- social icons start -->
          <section class="social-icons">
            <div class="social-icons-div">
            <!-- <li><a href="/" class="twitter"><img src="/assets/images/twitter-btn.png"/></a></li>
            <li><a href="/" class="facebook"><img src="/assets/images/facebook-btn.png"/></a></li> -->
            <li><a href="http://www.snapchat.com/add/lyngoapp" class="snapchat"><img src="/assets/images/snapchat-btn.png"/></a></li>
            </div>
          </section>
          <!-- social icons end -->

          <div class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</div>
          <div class="post-timestamp"<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></div>
          <div class="post-reading-time">
            <!-- <span class="reading-time"></span> -->
          </div>
          <div class="reading-time">read</div>

          </section>

          {{ content }}


          <!-- next/prev start -->
          <a href="{{ site.baseurl }}/blog"><h5 class="index-post"><span>All Posts</span></h5></a>
          <div class="PageNavigation">
          {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          {% endif %}
          </div>
          <!-- next/prev end -->

          <!-- social icons start -->
          <section="top-meta">
          <h5 class="index-headline normal"><span>Follow Us On Snapchat, Please!</span></h5>
            <section class="social-icons">
              <div class="social-icons-div">
              <li><a href="http://www.snapchat.com/add/lyngoapp" class="snapchat"><img src="/assets/images/snapchat-btn.png"/></a></li>
              </div>
            </section>
          </section>
          <!-- social icons end -->




          <!-- disqus start -->
          </section>

          {% if page.comments %}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          /*
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
          */

            var disqus_shortname = 'lyngoblog';  // Replace PAGE_URL with your page's canonical URL variable
            var disqus_identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable

            (function() {  // DON'T EDIT BELOW THIS LINE
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          {% endif %}
          <!-- disqus end -->

        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-post"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
              <h4>{{ site.author }}</h4>
              <p class="bio">{{author.bio}}</p>
              <hr>
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
            </section>
          </div>
          {{/post}}
          <div class="isRight">
            <h5 class="index-post"><span>Created by</span></h5>

            <footer class="site-footer">
              <section class="poweredby">Created by True Thing LLC</section>
              <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> You should subscribe to our feed.</span></a>
              <div class="inner">
                <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{site.author}}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
              </div>
            </footer>

          </div>
        </div>
      </article>
    </main>

    <!-- <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Back to Overview</a>
      </div> -->

    </div>
    {% include javascripts.html %}
  </body>
</html>
